---
import { conferenceConfig } from '../config/conference-config'
import MainWithHero from '../layouts/main-with-hero.astro'
import { styledPara } from '../styles.css'
---

<MainWithHero title="DDD Perth 2023">
    <section>
        <h2>
            {conferenceConfig.name}
            {conferenceConfig.current.year}
        </h2>
        <p class={styledPara}>
            {conferenceConfig.name} is Perth's largest community run conference for the tech community. Our goal is to create
            an approachable event that appeals to the whole community, especially people that don't normally get to attend
            or speak at conferences. The conference is run on a Saturday, and strives to be inclusive of everyone in the
            Perth tech community.
        </p>
        <p class={styledPara}>
            {conferenceConfig.name} is Perth's largest community run conference for the tech community. Our goal is to create
            an approachable event that appeals to the whole community, especially people that don't normally get to attend
            or speak at conferences. The conference is run on a Saturday, and strives to be inclusive of everyone in the
            Perth tech community.
        </p>
        <p class={styledPara}>
            {conferenceConfig.name} is Perth's largest community run conference for the tech community. Our goal is to create
            an approachable event that appeals to the whole community, especially people that don't normally get to attend
            or speak at conferences. The conference is run on a Saturday, and strives to be inclusive of everyone in the
            Perth tech community.
        </p>
        <p class={styledPara}>
            {conferenceConfig.name} is Perth's largest community run conference for the tech community. Our goal is to create
            an approachable event that appeals to the whole community, especially people that don't normally get to attend
            or speak at conferences. The conference is run on a Saturday, and strives to be inclusive of everyone in the
            Perth tech community.
        </p>
        <p class={styledPara}>
            {conferenceConfig.name} is Perth's largest community run conference for the tech community. Our goal is to create
            an approachable event that appeals to the whole community, especially people that don't normally get to attend
            or speak at conferences. The conference is run on a Saturday, and strives to be inclusive of everyone in the
            Perth tech community.
        </p>
        <p class={styledPara}>
            {conferenceConfig.name} is Perth's largest community run conference for the tech community. Our goal is to create
            an approachable event that appeals to the whole community, especially people that don't normally get to attend
            or speak at conferences. The conference is run on a Saturday, and strives to be inclusive of everyone in the
            Perth tech community.
        </p>
        <p class={styledPara}>
            {conferenceConfig.name} is Perth's largest community run conference for the tech community. Our goal is to create
            an approachable event that appeals to the whole community, especially people that don't normally get to attend
            or speak at conferences. The conference is run on a Saturday, and strives to be inclusive of everyone in the
            Perth tech community.
        </p>
        <p class={styledPara}>
            Check out the agenda and talks from previous years, or hear more about how we do what we do on our blog.
        </p>
    </section>
    <!-- <ImportantDates conference={conference} actions={actions} currentDate={currentDate} />
    <Keynotes conference={conference} />
    <Sponsors
        show={!conference.HideSponsors}
        sponsors={conference.Sponsors}
        hideUpsell={conference.HideSponsorshipUpsell}
    /> -->
</MainWithHero>

<style>
    /* https://hankchizljaw.com/wrote/a-modern-css-reset/ */

    /* Box sizing rules */
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    /* Remove default padding */
    ul[class],
    ol[class] {
        padding: 0;
    }

    /* Remove default margin */
    body,
    h1,
    h2,
    h3,
    h4,
    p,
    ul,
    ol,
    li,
    figure,
    figcaption,
    blockquote,
    dl,
    dd {
        margin: 0;
    }

    /* Set core body defaults */
    body {
        min-height: 100vh;
        scroll-behavior: smooth;
        text-rendering: optimizeSpeed;
        line-height: 1.5;
    }

    /* Remove list styles on ul, ol elements with a class attribute */
    ul[class],
    ol[class] {
        list-style: none;
    }

    /* A elements that don't have a class get default styles */
    a:not([class]) {
        text-decoration-skip-ink: auto;
    }

    /* Make images easier to work with */
    img {
        max-width: 100%;
        display: block;
    }

    /* Inherit fonts for inputs and buttons */
    input,
    button,
    textarea,
    select {
        font: inherit;
    }

    /* Remove all animations and transitions for people that prefer not to see them */
    @media (prefers-reduced-motion: reduce) {
        * {
            animation-duration: 0.01ms !important;
            animation-iteration-count: 1 !important;
            transition-duration: 0.01ms !important;
            scroll-behavior: auto !important;
        }
    }
</style>
